{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h1>{{ article.title }}</h1>
    <blockquote><p>{{ article.description }}</p></blockquote>
  </header>
  {{ article.content }}
</section>
{% endblock %}
