/* typesettings.css overrides */

.typesettings {
    font-family: 'Roboto', serif;
    padding-top: 0em;
}
.typesettings a,
.typesettings a:visited,
.typesettings section:first-of-type a,
.typesettings section:first-of-type a:visited {
    color: #7eb8e2;
}
.typesettings section:first-of-type {
    background-color: #363a42;
}

.typesettings section:first-of-type p {
    text-align: center;
}
.typesettings h1,
.typesettings h2,
.typesettings h3,
.typesettings h4,
.typesettings h5,
.typesettings h6,
.typesettings figcaption,
.typesettings blockquote {
    font-family: 'Roboto Slab', sans-serif;
}
.typesettings h1:first-child + h2 {
    font-family: 'Roboto Mono', monospace;
}
.typesettings.sans-serif {
    font-family: 'Roboto Slab', sans-serif;
}
.typesettings.sans-serif blockquote {
    font-family: 'Roboto', serif;
}
.typesettings.sans-serif h1:first-child + h2 {
    font-family: 'Roboto Slab', sans-serif;
}


.typesettings h1 {
    font-size: 2.3em;
}


.typesettings h2 {
    font-size: 1.7em;
}

body {
    background-color: #363a42;
    margin: 0;
    padding: 0;
}

/* NEWS SECTION */

#news > ul > li > p.first {
    font-weight: bold;
    font-size: 1.2em;
}
#news > ul > li {
    margin-bottom: 1em;
}


/* READING SECTION */

#content > ul > li {
    margin-bottom: 1em;
}


/* EVENTS / MEETUPS SECTION */

#events-meetups > ul > li > p.first {
    font-weight: bold;
    font-size: 1.2em;
}


/* show that browser is not supported */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* header */

.logo {
    display: block;
    text-align: center;
    padding: 0;
    margin: 1em 0;
    text-decoration: none;
    border: none !important;
}

/* mailchimp */ 

.mailchimp {
    margin: 1em 0 0;
    text-align: center;
}

.mailchimp .out-of-view {
    position: absolute;
    left: -5000px;
}

.mailchimp input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    padding: .6rem 1.0rem;
    color: #FFFFFF;
    border-radius: .4rem 0 0 .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3rem;
    padding: .6rem 1.8rem;
}

.mailchimp input[type="submit"] {
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 0 .4rem .4rem 0;
    border: 2px solid #FFFFFF;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 4.0rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    top: -1px;
    left: -2px;
    position: relative;
}

.mailchimp p {
    text-align: center;
    font-size: 1.5rem;
}


/* content */

.typesettings .section {
    margin: 2em 0 0 0;
}

.typesettings ul ul,
.typesettings ol ul,
.typesettings ul ol,
.typesettings ol ol {
    margin-left: 1em;
}

#content {
    background-color: white;
    padding: 2em;
}

article {
  margin: auto;
  max-width: 1200px;
  min-width: 480px;
}

#articles-past-issues {
    text-align: left;
    margin-bottom: 1em;
}

#articles-list {
    margin-left: 0;
    padding-left: 6em;
    list-style: none;
}

#articles-list li {
    margin: 0.5em 0;
}

#articles-list li time {
    float: left;
    margin-left: -6em;
    display: inline-block;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    text-align: right;
    width: 5em;
}

/* footer */

body > footer {
    padding: 0 0 3em 0;
    text-align: center;
    font-size: 1.4em;
}

body > footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > footer li {
    display: inline-block;
    margin: 0 0.5em;
}

body > footer a{
    color: white;
    font-family: 'Roboto', serif;
    text-decoration: none;
}
body > footer a:hover {
    border-bottom: 1px dotted #333;
}
